html {
    background-color: #FBF8FA;
}

body{
    font-family: sans-serif;
    font: Arial;
    background-color: #FBF8FA;
    margin-left:18%;
    margin-right:18%;
}

#portrait {
    padding:2%;
    margin:0 auto;
    width:30%;
    align: center;
    display:block;
}
